# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Flutter
flutter_ui/.dart_tool/
flutter_ui/.flutter-plugins
flutter_ui/.flutter-plugins-dependencies
flutter_ui/.packages
flutter_ui/build/
flutter_ui/pubspec.lock

# Deployment script backup
*.bak
